body {
    font-size: 1rem;
}

input.form-control,
textarea.form-control,
.btn {
    font-size: 1rem;
    padding: 0.5rem;
    margin-bottom: 0.25rem;
}

input[type="file"] {
    font-size: 0.85rem;
}
.container {
    max-width: 600px;
    margin-top: 1rem;
    background-color: #f8f9fa;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

h2, h3 {
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-bottom: 1rem;
}

.form-control {
    margin-bottom: 1rem;
    border-radius: 4px;
    font-size: 1rem;
}

.btn-primary, .btn-success {
    width: 100%;
    margin-top: 1rem;
    padding: 0.5rem 0;
    font-size: 1rem;
    border-radius: 4px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-success:hover {
    background-color: #218838;
}

#validationResult {
    font-weight: bold;
    color: #28a745;
    text-align: center;
    margin-top: 1rem;
}

#signature, #signatureResult {
    background-color: #e9ecef;
		font-size: 0.7rem;
}

.nav-tabs .nav-link {
    color: #007bff;
    font-weight: bold;
}

.nav-tabs .nav-link.active {
    color: #495057;
    background-color: #e9ecef;
    border-color: #dee2e6 #dee2e6 #fff;
}

@media (max-width: 600px) {
    .container {
        padding: 1rem;
    }
    .btn-primary, .btn-success {
        font-size: 0.9rem;
    }
}

.float-button {
    position: relative;
    display: inline-block;
    margin-left: 10px;
    margin-top: -35px;
    z-index: 1;
}
.float-button .btn {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 0;
}

.btn-icon {
     width: 40px;
     height: 125px;
     padding: 0;
     display: inline-flex;
     justify-content: center;
     align-items: center;
}

.btn-icon:hover {
    color: #fff; /* Color al pasar el mouse */
		background-color: #007bff;	
}

.signature-field {
		height: 125px;
}
